*{ 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  width: 100%;
  height: 100vh;
  display: grid;
  align-items: center;
  justify-content: center;
  background-color: #F2EBE3;
}

main {
  width: 100%;
}

.card {
  min-width: 600px;
  width: 30%;
  margin: 0 auto;
  display: flex;
  background-color: #fff;
  border-radius: 10px;
}

.left {
  width: 50%;
  background-image: url(./images/image-product-desktop.jpg);
  background-position: center;
  background-size: cover;
  border-top-left-radius: 10px;
}

.right{
  width: 50%;
  display: flex;
  flex-direction: column;
  row-gap: 24px;
  padding:35px 40px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.category{
  font-size: 16px;
  color: #6C7289;
  letter-spacing: 4px;
  text-transform: uppercase;
  font-weight: 500;
}

h1{
  font-size: 38px;
  color: #1C232B;
}

.content {
  width: 85%;
  line-height: 1.5;
  color:#6C7289;
  font-size: 14px;
}

.prices{
  width: 100%;
  display: flex;
  align-items: center;
  gap: 24px;
}

.price-new {
  font-size: 36px;
  color: #3C8067;
}

.price-old {
  font-size: 14px;
  text-decoration: line-through;
  color: #6C7289;
}

button {
  width: 100%;
  padding: 17px 0;
  display: flex;
  justify-content: center;
  color: #FFFFFF;
  font-weight: 700;
  border-radius: 7px;
  background-color: #3C8067;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #1D3E32;
}

button img {
  margin-right: 7px;
}

/*  
.attribution {
  min-width: 600px;
  align-items: center;
  justify-content: center;
}
*/
@media only screen and (min-width: 641px) and(max-width:780px) {
  .card{max-width: 600px;}
}

@media only screen and (max-width:640px) {
  .card{
    min-width: auto;
    width: 90%;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
  }
  .left{
    width: 100%;
    height: 350px;
    background-image: url(./images/image-product-mobile.jpg);
    border-radius: 10px 10px 0 0; 
  }
  .right {
    width: 100%;
    row-gap: 12px;
    padding: 25px;
    border-radius: 0 0 10px 10px;
  }

  .item-category{
    font-size: 14px;
  }

  h1 {
    font-size: 32px;
    line-height: 1;
  }
  .content{
    width: 95%;
    margin-top: 10px;
    margin-bottom: 15px;
    line-height: 1.7;
    font-size: 12px;
  }
  button {
    margin: 10px;
  }

}
  
